*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family:'Times New Roman', Times, serif;
}
header {
    height: 100px;
}
#logoid{
    width: 300px; 
    height: 100px;
    float: left;
    display: inline-block;
    margin: 20px;
}
/*barra de navegación*/
nav{
    height: 100%;
    padding-top: 20px;
    float: right;
    margin: 20px;
}

ul {
    display: flex;
    box-sizing: border-box;
    background-color:rgba(13, 13, 13, 0.774);
    color: beige;
}
li{
    position: relative;
    margin: 15px;
    padding: 20px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    
}
.autors::after{
    width: 100px;
    height: 3px;
    top: 100%;
}

li::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color:bisque;
}

li:hover{
    color: aliceblue;
}

li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}