*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family:'Times New Roman', Times, serif;
}
header {
    height: 100px;
}
#logoid{
    width: 300px; 
    height: 100px;
    float: left;
    display: inline-block;
    margin: 20px;
}
/*barra de navegación*/
nav{
    height: 100%;
    padding-top: 20px;
    float: right;
    margin: 20px;
}

ul li {
    display: inline-block;
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color:rgba(13, 13, 13, 0.774);
    color: beige;
}
